/*writing*/
form.writing_form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/*picture part*/
div.picture label{
    display: inline-block;
    
    height: 95%;
    width: 95%;
    background-color: #fdfdfd; 
    border: 1px solid gray; 
    border-radius: 1em;
    color: #999; 
    
    margin: 1%;
    /* padding: 30% 30%;  */
    
    vertical-align: middle; 
    text-align: center;
    cursor: pointer; 

}
label img.pic {
    width: 25%;
    height: 25%;
    font-size: 1000%;
    color: #D9E1C8;
    margin: 25% 0% 25% 0%;
}
div.picture input[type="file"] {
    position: absolute; 
    width: 0px; 
    height: 0px; 
    padding: 0; 
    margin: 0px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0;
}



/*writing  part*/
div.writing{
    border: #999 1%;
    width: 90%; margin: 0 5%; 
}
input.maintitle_heading{
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    margin: 1% 0% 1% 0%;
    /* display: inline-block; */
}
#writer_name{
    width: 100%;
    font-size: 1em;
    text-align: right;
    /* display: inline-block; */

}


input.subtitle_heading{
    width:100%;
    font-size: 1.5em;
    
}

textarea.main_paragraph{
    width:100%;
    margin: 0.5em 0em 1em 0em;
    border-width: 0.1em;
    resize: none;
}

input.submit_btn{
    background-color: #D9E1C8;
    border: #999;
    width: 10em;
    height: 2em;
    float: right;
}
input.submit_btn:hover{
    background-color: #99a186;
    border: #999;
    width: 10em;
    height: 2em;
    float: right;
}